<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test01">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Login"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test02">
	  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
